<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <%= render 'result_header' %>
      <li>
        <%= link_to('Total', result_total_path) %> <span class="divider">&gt;</span>
      </li>
      <li class="active"><strong>Union</strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span9">
    <h3>Total Result : Union</h3>
    <ul class="unstyled">
      <li class="union">Guild : </li>
      <% @names.each do |n| %>
        <li class="union">
          <%= link_to(n, result_total_guild_path(name: encode_for_url(n))) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12">
    <hr/>
  </div>
</div>
<%= render 'union_result', results: @results, total: @total, dates: [], target: :total %>
