<div class="row">
  <div class="span12">
    <div class="alert alert-info">
      <p>
        <strong>System locked in battle time</strong>
      </p>
      <p>
        Gv時間前後（19:50-22:10）はアクセスできません（-> <%= link_to 'ご利用上の注意', notes_path %>）
      </p>
    </div>
  </div>
</div>
