<div class="row">
  <div class="span12">
    <h2>ご利用上の注意</h2>
    <div>
      <p>
        本システムは管理者がROにログインし、手動で"/savechat"したログに基づいて動作しています。<br>
        そのため、以下のような制約があります。
      </p>
    </div>
    <div class="well">
      <ul>
        <li>アナウンスがあった直後に"/savechat"しているわけではありません。あくまで「ある時点での戦況」です。</li>
        <li>管理者がログインできなかった週は詳細データがありません。結果のみを手動で登録しています。</li>
        <% if time_lock_mode? %>
          <li>データは本番のものであり、Gv中リアルタイムに更新されていますが、公平を期すため、Gv時間中とその前後はデータが閲覧できないようになっています。</li>
          <li>管理者の都合（主に戦略上の理由）により、サイトそのものが非公開になる可能性があります。</li>
          <li>結果データ（result系）はGv終了後に集計されるため、終了直後には存在しない可能性があります。少し時間を置いて再確認してみてください。</li>
        <% else %>
          <li>データは本番のものですが、サンプル用に古いデータだけを公開しています。</li>
        <% end %>
      </ul>
    </div>
    <div>
      <p>
        その他、バグ報告・質問・自ギルド用環境構築の相談などは、Blog・Twitterへどうぞ。<br>
        Blog : <%= link_to 'http://parrot.blog21.fc2.com/' %><br>
        Twitter : <%= link_to '@parrot_studio', 'https://twitter.com/parrot_studio' %>
      </p>
    </div>
  </div>
</div>
