// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body {
  padding-top: 60px;
}

td.guild-owner {
  background-color: #fcc;
}

td.guild-stay {
  background-color: #fee;
}

td.guild-lose {
  background-color: #aaa;
}

td.ruled-again {
  background-color: #eee;
}

td.ruled-stay {
  color: crimson;
  background-color: #eee;
}

li.union {
  float: left;
  margin: 0px 5px;
}

.attention {
  color: crimson;
}

.uptime-attention {
  color: crimson;
  text-decoration: underline;
}
